.container {
  max-width: 70%;
  margin: 0.5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h1 {
  color: #6963d3;
}

.containerCol {
  max-width: 45%;
  height: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  box-shadow: 0.5em 0.5em 1em #9892ff;
  border: 4px #7d7d7d solid;
}
.contentText {
  margin: 0 1em;
}

.ingredientsList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.ingredientsList li {
  list-style-type: none;
  padding: 1.2em;
  background-color: #7d7d7d;
  color: #fff;
  border-radius: 1.5em;
  margin: 0 1.5em 1em 0;
}

.backLink {
  appearance: none;
  border: none;
  background: none;
  font: inherit;
  color: #6963d3;
  text-align: left;
  font-size: 1.2em;
  cursor: pointer;
}

.backLink:hover {
  color: #5450a7;
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 90%;
    height: 100%;
  }
  .containerCol {
    max-width: 100%;
  }
  .content {
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1311px) {
  .containerCol {
    max-width: 100%;
  }
  .container {
    max-width: 90%;
    height: 100%;
  }
  .containerCol {
    max-width: 100%;
  }
  .content {
    justify-content: center;
  }
}
