.container {
  margin: 2em auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
}

.textArea {
  justify-content: center;
  align-items: center;
}

.imgContainer {
  margin-bottom: 1em;
}

.cocktails {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em auto;
}
