.navContainer {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 0.3);
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.innerNav {
  padding: 0.5em;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
